.tab-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.tab-container div:last-child {
    grid-column: 1 / -1;
}

.description-container {
    min-width: 78%;
    height: 5.5rem;
    padding: 1.5rem;
    
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
}